MotionOnOff Node-RED Flow
[{"id":"f1069ec8.545","type":"exec","z":"35ab67bf.c1cd68","command":"/home/pi/rpi-hdmi.sh","addpay":true,"append":"","useSpawn":"","timer":"","oldrc":false,"name":"","x":980,"y":480,"wires":[["dc63a8bc.46d4c8"],["87038167.12fa98"],["4e0fd8a3.29b318"]]},{"id":"6103a7d.851fd58","type":"trigger","z":"35ab67bf.c1cd68","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"5","extend":true,"units":"min","reset":"","bytopic":"all","name":"Wait 5 Minutes Then Send Off Unless Re-Triggered","x":1070,"y":580,"wires":[["ea82a11b.aa79c"]]},{"id":"9dc00002.865fd","type":"mqtt out","z":"35ab67bf.c1cd68","name":"","topic":"emon/moteinoMotionSensor2/monitorOnOff","qos":"","retain":"","broker":"afca6c9d.6386a","x":1070,"y":760,"wires":[]},{"id":"d0f83881.d29b68","type":"mqtt in","z":"35ab67bf.c1cd68","name":"","topic":"emon/moteinoMotionSensor2/monitorOnOff","qos":"2","datatype":"auto","broker":"afca6c9d.6386a","x":190,"y":300,"wires":[["23a0cf9b.29603","3260b204.13a99e"]]},{"id":"a6d7339a.f3fef","type":"change","z":"35ab67bf.c1cd68","name":"Store Monitor Override","rules":[{"t":"set","p":"monitorOverride","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":360,"wires":[["aacf4f6f.49808","3260b204.13a99e"]]},{"id":"aacf4f6f.49808","type":"function","z":"35ab67bf.c1cd68","name":"Status Label","func":"var state = global.get('monitorOverride') || false;\n\n\nswitch (state) {\n    case \"0\":\n        return {payload: \"Monitor is set to stay off\"};\n    case \"1\":\n        return {payload: \"Monitor is set to stay on\"};\n    default:\n        return {payload: \"Monitor is detecting motion\"};\n}","outputs":1,"noerr":0,"x":1290,"y":360,"wires":[["2cbb1f77.c418a"]]},{"id":"b0522b78.e45128","type":"switch","z":"35ab67bf.c1cd68","name":"Override: Keep Off?","property":"monitorOverride","propertyType":"global","rules":[{"t":"eq","v":"\"\"","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":360,"y":620,"wires":[["6103a7d.851fd58","f1069ec8.545","9dc00002.865fd"]]},{"id":"4a15c9db.02a878","type":"ui_button","z":"35ab67bf.c1cd68","name":"Override: Keep Monitor Off","group":"8f690240.1b60d","order":3,"width":0,"height":0,"passthru":false,"label":"{{offButton}}","color":"","bgcolor":"{{offBackground}}","icon":"","payload":"0","payloadType":"str","topic":"","x":600,"y":520,"wires":[["a6d7339a.f3fef","f1069ec8.545","9dc00002.865fd"]]},{"id":"7ae766fb.1c6918","type":"ui_button","z":"35ab67bf.c1cd68","name":"Override: Keep Monitor On","group":"8f690240.1b60d","order":2,"width":0,"height":0,"passthru":false,"label":"{{onButton}}","color":"","bgcolor":"{{onBackground}}","icon":"","payload":"1","payloadType":"str","topic":"","x":600,"y":440,"wires":[["a6d7339a.f3fef","f1069ec8.545","9dc00002.865fd"]]},{"id":"ab25bd38.02ef2","type":"ui_button","z":"35ab67bf.c1cd68","name":"Default: Automatic with Motion","group":"8f690240.1b60d","order":4,"width":0,"height":0,"passthru":false,"label":"{{autoButton}}","tooltip":"","color":"","bgcolor":"{{autoBackground}}","icon":"","payload":"1","payloadType":"str","topic":"","x":590,"y":360,"wires":[["6103a7d.851fd58","4b6a3e38.92435","f1069ec8.545","9dc00002.865fd"]]},{"id":"2cbb1f77.c418a","type":"ui_text","z":"35ab67bf.c1cd68","group":"8f690240.1b60d","order":1,"width":0,"height":0,"name":"Monitor Override Status","label":"","format":"{{msg.payload}}","layout":"col-center","x":1270,"y":480,"wires":[]},{"id":"23a0cf9b.29603","type":"ui_chart","z":"35ab67bf.c1cd68","name":"Monitor On/Off","group":"8f690240.1b60d","order":0,"width":0,"height":0,"label":"Monitor On/Off History","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"step","nodata":"","dot":true,"ymin":"0","ymax":"1","removeOlder":"4","removeOlderPoints":"10","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":560,"y":300,"wires":[[]]},{"id":"af523368.9ef7","type":"mqtt in","z":"35ab67bf.c1cd68","name":"","topic":"emon/MotionMoteTx9/motion","qos":"2","broker":"afca6c9d.6386a","x":160,"y":520,"wires":[["4ceb8636.a6d4c8","b208b4f.9fe8f48","65dac0ce.649fe"]]},{"id":"4ceb8636.a6d4c8","type":"switch","z":"35ab67bf.c1cd68","name":"If Motion Value = 1","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":130,"y":620,"wires":[["b0522b78.e45128"]]},{"id":"3260b204.13a99e","type":"function","z":"35ab67bf.c1cd68","name":"Button Labels","func":"var state = global.get('monitorOverride') || false;\n\n\nswitch (state) {\n    case \"0\": {\n        msg.offButton = \"Monitor is set to stay off\";\n        msg.onButton = \"Keep Monitor On\";\n        msg.autoButton = \"Enable Auto-On with Motion\";\n        msg.offBackground = \"blue\";\n        msg.onBackground = \"\";\n        msg.autoBackground = \"\";\n        break;\n    }\n    case \"1\": {\n        msg.offButton =  \"Keep Monitor Off\";\n        msg.onButton = \"Monitor is set to stay on\";\n        msg.autoButton = \"Enable Auto-On with Motion\";\n        msg.offBackground = \"\";\n        msg.onBackground = \"blue\";\n        msg.autoBackground = \"\";\n        break;\n    }\n    default: {\n        msg.offButton =  \"Keep Monitor Off\";\n        msg.onButton = \"Keep Monitor On\";\n        msg.autoButton = \"Monitor is Detecting Motion\";\n        msg.offBackground = \"\";\n        msg.onBackground = \"\";\n        msg.autoBackground = \"blue\";\n    }\n}\n\nmsg.payload = \"\";\n\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":440,"wires":[["7ae766fb.1c6918","ab25bd38.02ef2","4a15c9db.02a878"]]},{"id":"4b6a3e38.92435","type":"change","z":"35ab67bf.c1cd68","name":"Send \"\"","rules":[{"t":"set","p":"payload","pt":"msg","to":"\"\"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":360,"wires":[["a6d7339a.f3fef"]]},{"id":"5af80c48.8a81b4","type":"inject","z":"35ab67bf.c1cd68","name":"","topic":"","payload":"Started!","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"","x":180,"y":680,"wires":[["6541baea.41bec4"]]},{"id":"6541baea.41bec4","type":"change","z":"35ab67bf.c1cd68","name":"Send 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":680,"wires":[["6103a7d.851fd58","4b6a3e38.92435","f1069ec8.545"]]},{"id":"b208b4f.9fe8f48","type":"mqtt out","z":"35ab67bf.c1cd68","name":"","topic":"emon/moteinoMotionSensor2/DakboardReceivedMotion","qos":"","retain":"","broker":"afca6c9d.6386a","x":490,"y":760,"wires":[]},{"id":"ea82a11b.aa79c","type":"switch","z":"35ab67bf.c1cd68","name":"Only Send Off Message","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1430,"y":580,"wires":[["f1069ec8.545","9dc00002.865fd"],[]]},{"id":"dc63a8bc.46d4c8","type":"debug","z":"35ab67bf.c1cd68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1530,"y":340,"wires":[]},{"id":"87038167.12fa98","type":"debug","z":"35ab67bf.c1cd68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1530,"y":380,"wires":[]},{"id":"4e0fd8a3.29b318","type":"debug","z":"35ab67bf.c1cd68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1530,"y":420,"wires":[]},{"id":"65dac0ce.649fe","type":"debug","z":"35ab67bf.c1cd68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":400,"y":560,"wires":[]},{"id":"afca6c9d.6386a","type":"mqtt-broker","z":"","name":"192.168.1.20 emonHub","broker":"192.168.1.20","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"8f690240.1b60d","type":"ui_group","z":"","name":"Dakboard Monitor","tab":"52b9093.f98b8f8","disp":false,"width":"6","collapse":false},{"id":"52b9093.f98b8f8","type":"ui_tab","z":"","name":"Dakboard","icon":"","order":1}]
